@font-face{
    font-family: "zzz";
    src: url("./assets/font/ja-jp.ttf");
    font-weight: normal;
    font-style: normal;
}

.title{
    font-family: "zzz";
}


.hero{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("./assets/shutterstock_2398908619_fbl654.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
